@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

html, body
	height: 100%
	padding: 0
	margin: 0
body
	font-size: 13px
	min-width: 320px
	position: relative
	line-height: 16px
	font-family: $default-font
.container
	min-width: 1000px	
section
	padding: $mainpadding*1.5 $mainpadding
	position: relative
	&.left-col
		@include border(1px, #cacaca, 'all')
		width: $leftwidth
		float: left
		padding-top: 0
		.logo 
			@include push-auto
			width: 227px
			margin-top: $margintopmain
			img
				@include border-radius($mainbr, 'all')
	&.right-col
		@include border(1px, #cacaca, 'all')
		border-left: 0
		width: $rightwidth
		float: right
		padding-top: 0
		padding-top: $margintopmain
	.login-box
		position: relative
		margin-top: $margintopmain
		width: $logowidth
		height: $logowidth/1.5		
		padding: $mainpadding*1.5 $mainpadding
		@include push-auto
		@include border(1px, #cacaca, 'all')
		@include border-radius($mainbr, 'all')
		.fa
			font-size: 16px
			float: left
			margin-right: $mainpadding
		.photo
			position: relative
			width: 45px
			height: 45px
			img
				display: block
				float: left
				margin-top: $margintopmain/1.5
				animation: animlogo 5s ease normal
			.links
				position: absolute
				left: 60px
				top: 50%
				width: 150px
				margin-top: 3px
				a
					font-size: 10px
					display: block
					line-height: 18px
					@include padding($mainpadding, 'right-left')
@keyframes animlogo
	0%
		transform: scale(0) 
		border-radius: 10em	
	70%
		transform: scale(1)
		border-radius: 0 0 0 0 
.vdivider 
	&::after
		@include pseudo(block, absolute, '|')
		min-height: 20px
		width: 3px
		color: #111
		z-index: 9999
		right: 60px
		

.loginRegister 
	& .dropdown
		float: left 
		margin-right: $mainpadding
.loginLogin .loginLoginForm
	margin-top: $mainpadding*2
	.loginPasswordLabel
		width: $rightwidth/1.1+1
		margin-right: $mainpadding/2+1
	.form-control
		height: $margintopmain
		@include border-radius($mainbr, 'all')
		border-color: #cacaca
		&:focus
			border-color: #cacaca
	input
		padding: $mainpadding $mainpadding*2
	.btn-sm, .btn-group-sm > .btn
		@include border-radius($mainbr, 'all')
		padding: $mainpadding/2 $mainpadding+4
	.left
		margin-right: $mainpadding*2
	.right
		margin-left: $mainpadding*2
.logout-button a
	margin-left: 2px

@import "media" 
