@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

html, body
	
body
	font-size: 13px
	min-width: 320px
	position: relative
	line-height: 16px
	font-family: $default-font
	width: 100%
section
	width: 1000px
	+push-auto	
	&.padding-section
		top: $menuheight/2
		position: relative
.main-header
	height: $menuheight
	+grad-l(lighten(#000, 0%), lighten(#000, 30%))
	color: darken(#fff, 5%) lighten(#000, 25%)
.navbar-fixed-top
	.container-header
		height: $menuheight/2
		line-height: $menuheight/2
	.navbar-header
		height: $menuheight/2
.main-header.navbar-fixed-top
	height: $menuheight/2
			
			
.container-header
	height: $menuheight
	width: 1000px
	color: darken(#fff, 5%) lighten(#000, 25%)
	+grad-l(lighten(#000, 0%), lighten(#000, 30%))
	+push-auto
	+padding($menuheight/2, right-left)
	text-align: center
	line-height: $menuheight
.navbar-header
	height: $menuheight
	float: left
	padding-left: $menuheight
	ul
		margin-bottom: 0
	li
		display: inline-block
		margin-right: $menuheight
	a
		color: darken(#fff, 5%)
.logo
	float: left
	margin-right: $menuheight*2
.dropdown-menu
	border: 0 
	line-height: $menuheight/2
	li
		width: 100%
		+border(1px,#333,bottom)
.dropdown
	a
		text-decoration: none
.open
	color: lighten(#000, 25%) darken(#fff, 5%) 
	a
		text-decoration: none
		color: lighten(#000, 25%)
		&:hover, a:focus
			text-decoration: none
			color: lighten(#000, 25%)
	> ul
		background-color: darken(#fff, 5%)
		+border-radius (0, right-left-top)
		margin-top: 0
		+bsh(0,17px,17px,-17px,#111)
.phone
	float: right
.left-col, .right-col
	+border(1px,#111,all)
.left-col
	width: $left-col-width
	float: left
	+padding($menuheight/2, all)
.right-col
	width: $right-col-width
	float: right
	padding: $menuheight/2 $menuheight/2 $menuheight/2 0
	border-left: 0
.Login-main
	width: $left-col-width -$menuheight
	height: $left-col-width/2.2
	margin-top: $menuheight/2
	+border(1px, #111,all)
	+border-radius($mainbrs, all)
	+padding(14px, all)
	.loginLoginFieldset
		
		.loginPasswordLabel
			width: $left-col-width/2.2
			float: left
		.loginLoginButton
			float: right
			line-height: 34px
		label
			display: block
.loginRegister .open
	padding-right: 7px 
	& > ul
		font-size: 12px
		+border-radius($mainbrs,right-left-bottom)
.left
	margin-right: $menuheight/4
.right
	float: right
.butt
	li
		display: inline-block
		&.logout-button
			float: right
.photo
	margin-top: $menuheight/5
	img
		float: left
	.fa
		margin: $menuheight/20 $menuheight/10 $menuheight/20 0
		font-size: 15px
.links
	float: right
	width: $left-col-width/2
	a
		display: block
@import "media" 
